<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139236371-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-139236371-1');
</script>


{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ range .Data.Pages }}
    <article class="preview">
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <p class="date">{{ .Date.Local.Format "January 2, 2006" }}</p>
      <p>{{ .Summary }}</p>
    {{ end }}
  </article>
{{ end }}
