<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139236371-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-139236371-1');
</script>


<aside>
  <nav>
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
        <li class="{{if $active}} active{{end}}">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{end}}
      <li>&hearts; {{ now.Year }} {{ .Site.Params.authors }}</li>
    </ul>
  </nav>
</aside>
